<% include partials/header %>



<div class="container">
<header class = 'jumbotron'>
    <div class='container'>
<h1>Hello From Campgrounds</h1>
<p>add some pic that you take</p>
<p>
    <a href="/campgrounds/new" class= "btn btn-primary btn-large ">Add new campgrounds</a>
</p>
</div>
</header>

<div class="row text-center" style="display:flex ; flex-wrap:wrap;">



<% campgrounds.forEach(function(campground){ %>
 <div class='col-md-3 col-sm-6'>
     <div class= "thumbnail">
     
     <img src="<%= campground.image %>">
     </div>
     <div class='caption'>
            <h4><%= campground.name%></h4>
     </div>
     <a class="btn btn-primary" href="/camprounds/<%= campground._id%> ">More information</a>
 </div>
 <% });%>
</div>
</div>


 <% include partials/footer %>
