<% include partials/header %>
<div class='container'>
<div class="row">
    <div class="container">
    <h1 style="text-align:center">
Create a new campgrounds
</h1>
<div style="width:30%;margin:0 auto">
<form action="/campgrounds" method="POST">
    <div class="form-group">
<input class="form-control" name='name' type="text" placeholder="name">
    </div>
    <div class ="form-group">
<input class="form-control" name ='image' type = 'text' placeholder="image url">
</div>
<div class ="form-group">
<button class="btn btn-lg btn-primary btn-block">Submit</button>
</div>
<a href='/campgrounds'>Go back</a>
</form>

</div>
</div>
</div>
<% include partials/footer %>
